footer {
    background-color: #ba0c2f;
    color: #a7b1b7;
    padding: 10px 0;
    height: 62px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.footer-column {
    flex: 1; 
    min-width: 200px; 
}

footer a {
    color: #a7b1b7; 
    text-decoration: none; 
}

.footer-text {
    color: #a7b1b7;
    font-size: 1.5em; 
    
}

.footer-text:hover {
    color: lightgray;
}