body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-brand {
  margin-left: 0rem; 
}

.outline {
  outline: 2px solid red;
}

.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.home-banner {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any inline spacing */
}