.view-order {
  background-image: url("../../public/osu_background_small.webp");
  background-color: white;
  padding: 10px;
}

.view-order-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-order-container h2 {
  color: #555;
  margin-bottom: 15px;
}

.view-order-container h3 {
  color: #777;
  margin-bottom: 10px;
}

.view-order-container .order-summary {
  text-align: left;
  margin-top: 20px;
}

.view-order-container .order-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.view-order-container .order-item img {
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.view-order-container .order-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px; /* Adjust based on image height */
  width: 100%;
}

.view-order-container .product-name {
  align-self: flex-start;
  margin: 0;
  color: #333;
}

.view-order-container .product-quantity {
  align-self: flex-start;
  margin: 0;
  color: #333;
}

.view-order-container .product-price {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  color: #333;
}

.view-order-container .shipping-info,
.view-order-container .card-info {
  text-align: left;
  margin-top: 20px;
}

.view-order-container .total-cost {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.view-order-container .confirm-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(215, 46, 46);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-order-container .confirm-button:hover {
  background-color: #7f1111;
}
